[submodule "roles/kanboard"]
	path = roles/kanboard
	url = https://github.com/abugher/ansible_role_kanboard.git
[submodule "roles/ansible-master"]
	path = roles/ansible-master
	url = https://github.com/abugher/ansible-role-ansible-master.git
[submodule "roles/ansible-target"]
	path = roles/ansible-target
	url = https://github.com/abugher/ansible-role-ansible-target.git
[submodule "roles/archive-server"]
	path = roles/archive-server
	url = https://github.com/abugher/ansible-role-archive-server.git
[submodule "roles/automatic-updates"]
	path = roles/automatic-updates
	url = https://github.com/abugher/ansible-role-automatic-updates.git
[submodule "roles/backup-client"]
	path = roles/backup-client
	url = https://github.com/abugher/ansible-role-backup-client.git
[submodule "roles/backup-proxy"]
	path = roles/backup-proxy
	url = https://github.com/abugher/ansible-role-backup-proxy.git
[submodule "roles/backup-server"]
	path = roles/backup-server
	url = https://github.com/abugher/ansible-role-backup-server.git
[submodule "roles/bananian"]
	path = roles/bananian
	url = https://github.com/abugher/ansible_role_bananian.git
[submodule "roles/camera"]
	path = roles/camera
	url = https://github.com/abugher/ansible_role_camera.git
[submodule "roles/crl-server"]
	path = roles/crl-server
	url = https://github.com/abugher/ansible-role-crl-server.git
[submodule "roles/cryptkeeper"]
	path = roles/cryptkeeper
	url = https://github.com/abugher/ansible_role_cryptkeeper.git
[submodule "roles/debian-live-build"]
	path = roles/debian-live-build
	url = https://github.com/abugher/ansible_role_debian-live-build.git
[submodule "roles/debian-netboot"]
	path = roles/debian-netboot
	url = https://github.com/abugher/ansible_role_debian-netboot.git
[submodule "roles/dhcp-server"]
	path = roles/dhcp-server
	url = https://github.com/abugher/ansible_role_dhcp-server.git
[submodule "roles/display"]
	path = roles/display
	url = https://github.com/abugher/ansible_role_display.git
[submodule "roles/dns-external"]
	path = roles/dns-external
	url = https://github.com/abugher/ansible-role-dns-external.git
[submodule "roles/dns-internal"]
	path = roles/dns-internal
	url = https://github.com/abugher/ansible-role-dns-internal.git
[submodule "roles/encrypted-storage"]
	path = roles/encrypted-storage
	url = https://github.com/abugher/ansible-role-encrypted-storage.git
[submodule "roles/escrow"]
	path = roles/escrow
	url = https://github.com/abugher/ansible_role_escrow.git
[submodule "roles/file-server"]
	path = roles/file-server
	url = https://github.com/abugher/ansible-role-file-server.git
[submodule "roles/flexget"]
	path = roles/flexget
	url = https://github.com/abugher/ansible_role_flexget.git
[submodule "roles/front-page"]
	path = roles/front-page
	url = https://github.com/abugher/ansible-role-front-page.git
[submodule "roles/hostname"]
	path = roles/hostname
	url = https://github.com/abugher/ansible_role_hostname.git
[submodule "roles/https-private"]
	path = roles/https-private
	url = https://github.com/abugher/ansible_role_https-private.git
[submodule "roles/kibana"]
	path = roles/kibana
	url = https://github.com/abugher/ansible_role_kibana.git
[submodule "roles/kibana-repo"]
	path = roles/kibana-repo
	url = https://github.com/abugher/ansible-role-kibana-repo.git
[submodule "roles/krb5"]
	path = roles/krb5
	url = https://github.com/abugher/ansible_role_krb5.git
[submodule "roles/logstash"]
	path = roles/logstash
	url = https://github.com/abugher/ansible_role_logstash.git
[submodule "roles/logstash-repo"]
	path = roles/logstash-repo
	url = https://github.com/abugher/ansible-role-logstash-repo.git
[submodule "roles/monitored"]
	path = roles/monitored
	url = https://github.com/abugher/ansible_role_monitored.git
[submodule "roles/mplayerd"]
	path = roles/mplayerd
	url = https://github.com/abugher/ansible_role_mplayerd.git
[submodule "roles/nagios"]
	path = roles/nagios
	url = https://github.com/abugher/ansible_role_nagios.git
[submodule "roles/nagios-proxy"]
	path = roles/nagios-proxy
	url = https://github.com/abugher/ansible-role-nagios-proxy.git
[submodule "roles/nethack"]
	path = roles/nethack
	url = https://github.com/abugher/ansible_role_nethack.git
[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/abugher/ansible_role_nginx.git
[submodule "roles/no-systemd"]
	path = roles/no-systemd
	url = https://github.com/abugher/ansible-role-no-systemd.git
[submodule "roles/pianobard"]
	path = roles/pianobard
	url = https://github.com/abugher/ansible_role_pianobard.git
[submodule "roles/printer-postscript-proxy"]
	path = roles/printer-postscript-proxy
	url = https://github.com/abugher/ansible-role-printer-postscript-proxy.git
[submodule "roles/python"]
	path = roles/python
	url = https://github.com/abugher/ansible_role_python.git
[submodule "roles/rachel-phone"]
	path = roles/rachel-phone
	url = https://github.com/abugher/ansible_role_rachel-phone.git
[submodule "roles/remote"]
	path = roles/remote
	url = https://github.com/abugher/ansible_role_remote.git
[submodule "roles/remote-proxy"]
	path = roles/remote-proxy
	url = https://github.com/abugher/ansible-role-remote-proxy.git
[submodule "roles/root-keys"]
	path = roles/root-keys
	url = https://github.com/abugher/ansible-role-root-keys.git
[submodule "roles/sensitive-server"]
	path = roles/sensitive-server
	url = https://github.com/abugher/ansible-role-sensitive-server.git
[submodule "roles/smokeping"]
	path = roles/smokeping
	url = https://github.com/abugher/ansible_role_smokeping.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/abugher/ansible_role_sshd.git
[submodule "roles/sshfs-client"]
	path = roles/sshfs-client
	url = https://github.com/abugher/ansible-role-sshfs-client.git
[submodule "roles/ssl-identity"]
	path = roles/ssl-identity
	url = https://github.com/abugher/ansible-role-ssl-identity.git
[submodule "roles/static-address"]
	path = roles/static-address
	url = https://github.com/abugher/ansible-role-static-address.git
[submodule "roles/storage-server"]
	path = roles/storage-server
	url = https://github.com/abugher/ansible-role-storage-server.git
[submodule "roles/syslog-client"]
	path = roles/syslog-client
	url = https://github.com/abugher/ansible-role-syslog-client.git
[submodule "roles/syslog-server"]
	path = roles/syslog-server
	url = https://github.com/abugher/ansible-role-syslog-server.git
[submodule "roles/tar-backup-client"]
	path = roles/tar-backup-client
	url = https://github.com/abugher/ansible-role-tar-backup-client.git
[submodule "roles/temper"]
	path = roles/temper
	url = https://github.com/abugher/ansible_role_temper.git
[submodule "roles/tftp"]
	path = roles/tftp
	url = https://github.com/abugher/ansible_role_tftp.git
[submodule "roles/time"]
	path = roles/time
	url = https://github.com/abugher/ansible_role_time.git
[submodule "roles/tor"]
	path = roles/tor
	url = https://github.com/abugher/ansible_role_tor.git
[submodule "roles/transmission"]
	path = roles/transmission
	url = https://github.com/abugher/ansible_role_transmission.git
[submodule "roles/transmission-proxy"]
	path = roles/transmission-proxy
	url = https://github.com/abugher/ansible-role-transmission-proxy.git
[submodule "roles/user-friendly"]
	path = roles/user-friendly
	url = https://github.com/abugher/ansible-role-user-friendly.git
[submodule "roles/user-identity-client"]
	path = roles/user-identity-client
	url = https://github.com/abugher/ansible-role-user-identity-client.git
[submodule "roles/wiki"]
	path = roles/wiki
	url = https://github.com/abugher/ansible_role_wiki.git
[submodule "roles/x2go"]
	path = roles/x2go
	url = https://github.com/abugher/ansible_role_x2go.git
[submodule "roles/dontstarvetogether"]
	path = roles/dontstarvetogether
	url = https://github.com/abugher/ansible-role-dontstarvetogether
[submodule "roles/steamcmd"]
	path = roles/steamcmd
	url = https://github.com/abugher/ansible-role-steamcmd
[submodule "roles/xmpp-server"]
	path = roles/xmpp-server
	url = https://github.com/abugher/ansible-role-xmpp-server
[submodule "roles/thermometer"]
	path = roles/thermometer
	url = https://github.com/abugher/ansible-role-thermometer.git
[submodule "inventory"]
	path = inventory
	url = https://github.com/abugher/ansible_inventory.git
[submodule "roles/dark"]
	path = roles/dark
	url = https://github.com/abugher/ansible_role_dark.git
[submodule "files/conf/homedirs/aaron/common/.mutt.d"]
	path = files/conf/homedirs/aaron/common/.mutt.d
	url = https://github.com/abugher/mutt.d.git
[submodule "roles/ssh-client"]
	path = roles/ssh-client
	url = https://github.com/abugher/ansible-role-ssh-client.git
[submodule "roles/pass-server"]
	path = roles/pass-server
	url = https://github.com/abugher/ansible-role-pass-server.git
[submodule "roles/mail-server"]
	path = roles/mail-server
	url = https://github.com/abugher/ansible-role-mail-server.git
[submodule "roles/kanboard-proxy"]
	path = roles/kanboard-proxy
	url = https://github.com/abugher/ansible-role-kanboard-proxy.git
[submodule "roles/mail-client"]
	path = roles/mail-client
	url = https://github.com/abugher/ansible-role-mail-client.git
[submodule "roles/jetson-nano"]
	path = roles/jetson-nano
	url = https://github.com/abugher/ansible-role-jetson-nano.git
[submodule "roles/dns-client"]
	path = roles/dns-client
	url = https://github.com/abugher/ansible-role-dns-client.git
[submodule "roles/no-laptop"]
	path = roles/no-laptop
	url = https://github.com/abugher/ansible-role-no-laptop
[submodule "roles/apt-repo-server"]
	path = roles/apt-repo-server
	url = https://github.com/abugher/ansible-role-apt-repo-server.git
[submodule "roles/discord-repo"]
	path = roles/discord-repo
	url = https://github.com/abugher/ansible-role-discord-repo.git
[submodule "roles/grafana"]
	path = roles/grafana
	url = git@github.com:abugher/ansible-role-grafana.git
[submodule "roles/ssl-client"]
	path = roles/ssl-client
	url = git@github.com:abugher/ssl-client.git
[submodule "roles/wesnoth-server"]
	path = roles/wesnoth-server
	url = git@github.com:abugher/ansible-role-wesnoth-server.git
